body {
    background: cyan;
}
#titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    margin-bottom: 15px;
    font-size: xx-large;
    color:blueviolet

}

.post {
    background:aqua;
    padding: 15px;
    border: 3px solid blue;
    margin-bottom: 15px;
}
.postando {
    margin: 0%;
    margin-bottom: 15px;
}

.foto {
    margin-bottom: 15px;
}

.listinha {
    list-style-type: "\1F44D";
}